body
{
    background-color: AliceBlue;
    color: #191970;
    margin: 0px;
    padding: 0px;
    font-family: verdana, sans-serif;/*sans-serif   serif    cursive   monospace   */
    font-size: 12pt;
}

h1, h2
{
    color: rgb(30, 6, 212);
    font-family: mycoolfont, Arial, sans-serif;
}

h2{
    font-size: 2rem;
}

main
{
    background-image: url("../../media/pic/background/tlu_h200.png");
    background-repeat: no-repeat;
    background-position: right 300px;
    background-attachment: fixed;
}

main, header, footer
{
    background-color: #4169E1;
    margin: 20px;
}


section, nav
{
    background-color: rgba(255,255,255,.6);
}

nav
{
    background-image: linear-gradient(to right, rgba(255,255,255,.6), #708090);
    width: 300px;
    padding: 20px;
    border: 10px solid white;
    margin: 20px;
    box-sizing: border-box;/*content-box*/
    /* right: 200px; */
    top: 10px;
    position: sticky; /*static   relative    absolute    fixed*/
    left: 800px;
}

.photoframe
{
    /* width: 50%; 
    border-radius: 50%;*/
    border: 20px dotted white;
    border-image-source: url("../../../media/pic/border/raam_04.png");
    border-image-slice: 20 20 20 20;
    border-image-repeat: round;
}

.largertext
{
    font-size: 16pt;
}

@font-face
{
    font-family: mycoolfont;
    src: local("Harrington"), url("HARNGTONR.TTF") format("truetype");
}